body{
  background:#f2f2f2;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.app{
  background:#fff;
  padding:20px;
  width:100%;
  max-width:360px;
  border-radius:12px;
  text-align:center;
}
button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  background:#4CAF50;
  color:#fff;
}
.hidden{display:none}
